#container{
    width: 400px;
    height: 250px;
    background-color: rgb(218, 215, 215);
    border: black 2px solid;
}

h1{
    text-align: center;
}



label[for="pseudo"]{
    margin-left: 30px;
    margin-right: 20px;
}

label[for="password"]{
   
    
    margin-left: 30px;
    margin-right: 20px;
}



label[for="checkbox"]{
    margin: 10px;
}

.checkbox{
    margin-left: 30px;
}

#button{
    
    text-align: center; 
}

input[type="button"]{
    padding: 5px;
    margin-top: 20px;
    margin: 10px;
}

.button:hover{
    
    background-color: black;
    color: white;
}
