#myCarousel {

}

.nav-link {
    font-family: "Fira Sans", Arial, sans-serif;
   
}

#steps {
    margin: 0px;

}

img {

    margin: 10px;
}


h2{
    text-align: center;
}


body {
  background-image: url("../img/beige.jpg");
  background-size: cover;
  
}


.navbar {
    display: inline-block;  /*to make sure .navbar accepts width*/
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  
}

li a {
   
    color: white;
    font-weight: bold;
}


li a:hover {
    color: rgb(255, 196, 0);
  }

  .navbar-brand:hover {
    color: rgb(255, 196, 0);
  }

.navbar-brand{
   
    color: white;
    font-weight: bold;
}

 .container video{
    align-items: center;
  
}
.video-js {
    width: 800px;
    height: 450px;
  }
  
  .vjs-custom-theme {
    .vjs-control-bar{
      background-color: transparent !important;
    }
    .vjs-big-play-button {
      opacity: 0 !important;
    }
    .vjs-volume-control {
      align-items: center !important;
    }
    
    .vjs-play-progress:before {
      top: -4px !important;
    }
    .vjs-fullscreen-control {
      .vjs-icon-placeholder {
        &:before {
          line-height: 30px;
        }
      }
    }
    button {
      &:hover {
        color: #fff;
      }
    }
  
    .vjs-progress-control .vjs-progress-holder {
      margin: 0 10px;
      background: rgba(255, 255, 255, 0.25);
      height: 1px;
    }
    .vjs-progress-control {
      &:hover {
        .vjs-play-progress:before {
          top: -7px !important;
        }
      }
    }
  
    .vjs-control-bar {
      height: 54px;
      background: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      visibility: visible;
      opacity: 1;
      -webkit-transition: visibility 0.1s, opacity 0.1s;
      -o-transition: visibility 0.1s, opacity 0.1s;
      transition: visibility 0.1s, opacity 0.1s;
    }
    .vjs-volume-panel {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
      display: flex;
      align-items: center;
    }
  
    .vjs-fullscreen-control {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 5;
      order: 5;
    }
    .vjs-picture-in-picture-control,
    .vjs-remaining-time {
      display: none;
    }
    .vjs-play-control {
      width: 5em !important;
    }
    .vjs-play-control .vjs-icon-placeholder::before {
      font-size: 13px;
      letter-spacing: 0.16px;
      content: "Play" !important;
      font-family: sans-serif;
      line-height: 30px;
    }
  
    .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
      content: "Pause" !important;
      font-family: sans-serif;
    }
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  